@import "./variables";
@import "./../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-image: url(./../../images/main_bg.jpg);
    margin: 0;
    header {
        .carousel .carousel-indicators li{
            width: 1em;
            height: 1em;
            border-radius: 100%;

        }
        .carousel .carousel-inner .carousel-item img{
            filter: brightness(20%);
        }
        .carousel .carousel-inner .carousel-item .carousel-caption p{
            font-family: 'Courgette', cursive;
            font-size: 4rem;
            .occasion, .makes {
                font-size: 5.5rem;
            }
            
        }
        .carousel .carousel-inner .carousel-item .carousel-caption .buttons .btn {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            border-radius: 50px;
            
        }
        .carousel .carousel-inner .carousel-item .carousel-caption .buttons .btn:first-child {
            background-color: rgb(228, 228, 228);
        }

    
        .hdr-deco {
            background-image: url(./../../images/bottom_decoration_img.png);
            z-index: 5;
            height: 2vh;
            width: 100%;
            position: absolute;
            top: 1210.33px;
        }
        nav {
            position: fixed;
            z-index: 9;
            top: 0;
            left: 0;
            right: 0;
            ul {
                list-style: none;
                li {
                    height: 100%;
                    a {
                        color: white;
                    }
                }
                li:hover {
                    background-color: rgb(177, 52, 60) ;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    .about {
        height: 1850px;
        .feuille{
            height: 95%;
            width: 90%;
            background-color: white;
            position: relative;
            .right-top{
                position: absolute;
                top: 0;
                right: 0;
            }
            .right-bottom{
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .left-top{
                position: absolute;
                top: 0;
                left: 0;
            }
            .left-bottom{
                position: absolute;
                bottom: 0;
                left: 0;
            }
            .story{
                position: relative;
                top: 2%;
                h1{
                    font-family: 'Courgette', cursive;
                    span{
                        font-size: 1.8em;
                    }
                }
                p {
                    width: 40%;
                }
               

            }
            .menu {
                position: relative;
                top: 3%;
                h1{
                    font-family: 'Courgette', cursive;
                    span{
                        font-size: 1.8em;
                    }
                }
                .row .col1 {
                    width: 20%;
                    border-right: 7px solid rgb(177, 52, 60);
                    h2{
                        font-family: 'Courgette', cursive;
                    }
                }
                .row .col2 {
                    width: 40%;

                    .menu-image{
                       img {
                        border-radius: 100%;
                        border: solid 5px rgb(204, 204, 204) ;
                        width: 75%;
                       }
                       
                    }
                    .menu-texte p .gras{
                        font-weight: bold;
                        
                    }
                }
                
            }
        }
    }
    .team {
        background-image: url(./../../images/team_background.jpg);
        .title {
            font-family: 'Courgette', cursive;
            span{
                font-size: 1.8em;
            }
        }
        .row{
            width: 85%;
            margin: 0 auto;
        }
    }

}
